
<%= form_for @client1, :html => {:multipart => true} do |f| %>

<%= f.hidden_field :id %>
    
<p>
   	 <%= image_tag(@client1.avatar_url) if @client1.avatar? %>
	 <br>
    <label>My Avatar</label>
    <%= f.file_field :avatar %>

    <%= f.hidden_field :avatar_cache %>
  </p>
   
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%= f.date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
