<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client1.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @client1.birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client1.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client1.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @client1.city %>
</p>

<p>
  <strong>image:</strong>
  <%= @client1.image %>
</p>

<%= link_to 'Edit', edit_client1_path(@client1) %> |
<%= link_to 'Back', client1s_path %>


