<h1>Listing posts</h1>
<%=form_tag posts_path, :method => 'get' do %>
      <p>
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Search", :name => nil %>
      </p>
<%end%>

<ul class='thumbnails' id='posts'>
         <% @posts.each do |post|%>
         <li class='span3'>
         <div class='thumbnail'>
                 <% if post.has_photo?%>
                    <%= image_tag post.photo_path%>
                 <%end%>
                 <div class='caption'>
                     <h3><%= link_to post.titulo, post%><h3>
                  </div>
          </div>
         </li>
         
         <%end%>
  </ul>

<br>

<%= link_to 'New Post', new_post_path %>
