<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
     <% if @post.has_photo? %>
       <%=image_tag @post.photo_path%>
    <%else%>
       <b>proplema al subitr tu foto</b>
    <%end%>


<p>
 <%= image_tag @post.photo_path%>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
